.ckclubdata-slider {
    position: relative;
    border: 1px solid red;
    max-height: 420px;
    height: 420px !important;
}



.ckclubdata-slider .slides {
    height: 420px;
}

.ckclubdata-slider .slider-image {
    width: auto !important;
    width: 450px !important;
    height: auto !important;
    object-fit: contain;
    overflow: hidden;
}

.ckclubdata-slider .cover {
    background: white;
    background: rgba(255,255,255,0.5);
    /*opacity: 0.4;*/
    position: absolute;
    top: 0 !important;
    height: 420px;
}
.ckclubdata-slider svg {
    height: 50% !important;
    top: 80px !important;
}

.jssora051 .a {
    stroke: orangered !important;
}

.ckclubdata-slider .image-wrap {

}

.ckclubdata-slider .slider-caption-wrap {
    background: white;
    background: rgba(255,255,255,0.7);
    height: 40px !important;
  }