<f:layout name="Backend" />
<!--	=====================-->
<f:section name="main">
<div>
    <f:form method="post" action="ticketExport" name="ticketExport"  arguments="{format: 'txt'}">
        Veranstaltungen für Scanner Export:<br>
        <f:form.select id="programs_export" property="program" multiple="1" size="4" optionLabelField="title" options="{ExportPrograms}"  prependOptionValue="0" />
        <f:form.submit value="Vereanstaltungsdaten exportieren" />
    </f:form>
</div>
<div>
    <f:form method="post" action="refundOrders" name="refundOrders">
        Käufe Rückerstatten<br>
        <f:form.select id="programs_refund" property="program" multiple="1" size="4" optionLabelField="title" options="{RefundPrograms}"  prependOptionValue="0" />
        <f:form.submit value="Vereanstaltungsdaten exportieren" />
    </f:form>
</div>
</f:section>