services:
  _defaults:
    autowire: true
    autoconfigure: true
    public: false

  Medpzl\ClubdataCart\:
    resource: '../Classes/*'

  Medpzl\ClubdataCart\EventListener\BeforeShowCart:
    tags:
      - name: event.listener
        identifier: 'clubdata_cart-BeforeShowCart'

  Medpzl\ClubdataCart\EventListener\RetrieveProductsFromRequest:
    tags:
      - name: event.listener
        identifier: 'clubdata_cart-RetrieveProductsFromRequest'

  Medpzl\ClubdataCart\EventListener\ChangeOrderItemBeforeSaving:
    tags:
      - name: event.listener
        identifier: 'clubdata_cart-ChangeOrderItemBeforeSaving'

  Medpzl\ClubdataCart\EventListener\CheckStock:
    tags:
      - name: event.listener
        identifier: 'clubdata_cart-CheckStock'

  # Use Symfony DI to extend EXT:cart_pdf's PdfService
  # See https://github.com/derhansen/xclass_di/issues/1#issuecomment-3133434777
  Extcode\CartPdf\Service\PdfService:
    public: true
    alias: Medpzl\ClubdataCart\Service\PdfService
